// colours
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

// fonts 
$bodyFont: 18px;
$headerFont: 14px;

// font Families
$fontFamily: DM Sans;
$fontWeightLight: 400;
$fontWeightHeavy: 700;

// padding
$internalPadding: 0 1rem;
$borderRadius: 1rem;

// width
$defaultWidth: 25rem;

// headings
@mixin headingOne {
    font-family: $fontFamily;
    font-size: $headerFont;
    text-transform: capitalize;
    font-weight: $fontWeightLight;
}

@mixin headingTwo {
    font-family: $fontFamily;
    font-size: $bodyFont;
    text-transform: capitalize;
    font-weight: $fontWeightLight;
}

@mixin dates {
    font-family: $fontFamily;
    font-size: $headerFont;
    font-weight: $fontWeightLight;
    color: $darkBrown;
}

// graph

@mixin graph {
    content: '';
    height: 0px;
    width: 40px;
    background-color: $softRed;
    border-radius: 0.25rem;
    transform:translateX(0.5rem) translateY(1.75rem);
    transition: 0.5s all;
    cursor: pointer;
}

@mixin dates {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    bottom:1.25rem;
    right:-.5rem;
    background-color: black;
    color: $veryPaleOrange;
    border-radius: .25rem;
    @include headingOne;
}


// animations 

@mixin fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@mixin mondayDiagram {
    0% { height: 0px; }
    100% { height: 30px;}
}

@mixin tuesdayDiagram {
    0% { height: 0px; }
    100% { height: 60px;}
}

@mixin wednesdayDiagram {
    0% { height: 0px; }
    100% { height: 90px;}
}

@mixin thursdayDiagram {
    0% { height: 0px; }
    100% { height: 50px;}
}

@mixin fridayDiagram {
    0% { height: 0px; }
    100% { height: 40px;}
}

@mixin saturdayDiagram {
    0% { height: 0px; }
    100% { height: 70px;}
}

@mixin sundayDiagram {
    0% { height: 0px; }
    100% { height: 50px;}
}



