@import "./_variables";

body {
    background-color: $cream;
    font-family: $fontFamily;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $softRed;
        padding: $internalPadding;
        border-radius: $borderRadius;
        width: $defaultWidth;
        margin: 0 0 2rem 0;

        .title {
            color: $veryPaleOrange;

            .heading {
                @include headingOne;
                
            }
        }
    }

    .two {
        display: flex;
        flex-direction: column;
        background-color: $veryPaleOrange;
        border-radius: 1rem;
        padding: $internalPadding;
        width: $defaultWidth;

    }
}