body {
  background-color: #f8e9dd;
  font-family: DM Sans;
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainContainer .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ec775f;
  padding: 0 1rem;
  border-radius: 1rem;
  width: 25rem;
  margin: 0 0 2rem 0;
}

.mainContainer .one .title {
  color: #fffaf5;
}

.mainContainer .one .title .heading h1 {
  font-family: DM Sans;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin: 1rem 0 0.5rem 0;
}

.mainContainer .one .title .subHeading h1 {
  margin: 0.5rem 0 1rem 0;
}

.mainContainer .one .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainContainer .one .logo img {
  height: auto;
  width: 80%;
}

.mainContainer .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fffaf5;
  border-radius: 1rem;
  padding: 0 1rem;
  width: 25rem;
}

.mainContainer .two .heading {
  font-family: DM Sans;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
}

.mainContainer .two .graphContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContainer .two .graphContainer .graph {
  content: '';
  height: 1rem;
}

.mainContainer .two .graphContainer .dates ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin: 0;
  padding: 0;
  height: auto;
}

.mainContainer .two .graphContainer .dates ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  color: #382314;
}

.mainContainer .two .graphContainer .dates ul li.mondayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 30px;
}

.mainContainer .two .graphContainer .dates ul li.tuesdayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 60px;
}

.mainContainer .two .graphContainer .dates ul li.wednesdayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 90px;
}

.mainContainer .two .graphContainer .dates ul li.thursdayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  height: 70px;
}

.mainContainer .two .graphContainer .dates ul li.fridayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.mainContainer .two .graphContainer .dates ul li.saturdayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.mainContainer .two .graphContainer .dates ul li.sundayGraph {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ec775f;
  -webkit-transform: translateX(0.85rem);
          transform: translateX(0.85rem);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.mainContainer .two .summaryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 2px #f8e9dd;
}

.mainContainer .two .summaryContainer .leftBox {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainContainer .two .summaryContainer .leftBox h1 {
  font-family: DM Sans;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin: 1rem 0 0.5rem 0;
}

.mainContainer .two .summaryContainer .leftBox h2 {
  margin: 0.5rem 0 1rem 0;
}

.mainContainer .two .summaryContainer .rightBox {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainContainer .two .summaryContainer .rightBox h1 {
  font-family: DM Sans;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  margin: 1rem 0 0.5rem 0;
}

.mainContainer .two .summaryContainer .rightBox h2 {
  margin: 0.5rem 0 1rem 0;
}
/*# sourceMappingURL=main.css.map */