@import "./_variables";

body {
    background-color: $cream;
    font-family: $fontFamily;
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;

    .one {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $softRed;
        padding: $internalPadding;
        border-radius: $borderRadius;
        width: $defaultWidth;
        margin: 0 0 2rem 0;

        .title {
            color: $veryPaleOrange;

            .heading {

                h1 {
                    @include headingOne;
                    margin: 1rem 0 0.5rem 0;
                }
            }

            .subHeading {

                h1 {
                    margin: 0.5rem 0 1rem 0;
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img {
                height: auto;
                width: 80%;
            }
        }
    }

    .two {
        display: flex;
        flex-direction: column;
        background-color: $veryPaleOrange;
        border-radius: 1rem;
        padding: $internalPadding;
        width: $defaultWidth;

        .heading {
            @include headingTwo;
        }

        .graphContainer {
            

            .graph {
                
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    padding: 0;
    
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    li {
                        content: '';
                        width: 15px;
                        height: 30px;
                        background-color: $softRed;
                        margin: 0 .5rem;
                        
                    }
                }
            }
        }

        .dates {

            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include dates;
                }
            }
        }

        .summaryContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: solid 2px $cream;

            .leftBox {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items:flex-start;

                h1 {
                    @include headingOne;
                    margin: 1rem 0 0.5rem 0;
                }

                h2 {
                    margin: 0.5rem 0 1rem 0;
                }
            }

            .rightBox {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items:flex-start;

                h1 {
                    @include headingOne;
                    margin: 1rem 0 0.5rem 0;
                }

                h2 {
                    margin: 0.5rem 0 1rem 0;
                }
            }
        }
    }
}